header h1 {
  text-align: center;
}

nav, footer {
  background-color: black;
  height: 80px;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-around;
  align-items: center;
}

nav div {
  color: white;
  font-size: 2em;
}